:root{
    --PS1: "tob@portfolio $ ";
    --PS1-root: "root@portfolio # ";
    --PS2: "> ";
}
/*************************************************/
div.terminal{
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    font-family: monospace;
    padding: 10px;
    text-align: left;
    margin: 15px;
}
.size-m{
    width: 700px;
}
.size-l{
    width: 900px;
}
div.terminal div.window-titlebar{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    text-align: right;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
p.command.as-user:before {
    content: var(--PS1);
    color: aqua;
    font-weight: bold;
}
p.command.as-root:before {
    content: var(--PS1-root);
    color: red;
    font-weight: bold;
}
.command-response, .non-selectable{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
control.maximize,control.close,control.minimize{
    color: #fff;
}
/*************************************************/



*{
    background-color:black;
    color:white;
    font-family:courier,monospace;
}
pre.title{
    font-weight: bold;
}
a {
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: violet
}

a[href^="https://"]::after{
    content: ' [↗]';
}
.special-link{
    border-bottom: 1px dotted white;
}
#contentLocation{
    margin-top: 10vh;
}
.container{
    margin-top: 1vh;
    max-width: 100%;
}
.page-title{
    font-size: 16px;
}

.content-title{
    font-size: 16px;
}
.logo {
    font-weight: bold;
    font-size:1px;
}
.logo-list{
    display: inline-flex;
}
.flex-container{
    display: inline-flex;
    justify-content: space-evenly;
}
details{
    border: 0;
}
summary{
    border: 0;
    display: block;
}

.project-selector{
    display: flex;
    justify-content: space-evenly;
}

.project-type{
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
.project-card{
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
}
.card-title{
    font-weight: bold;
    font-size: 20px;
}
.card-elements{
    width: 45%;
    margin: 5%;
}
.card-text{
    text-align: left;
}
.light-mode{
    background-color: white;
    color: black;
}